<%- include('partials/header') %>

<div class="ui main text container">
    <div class="ui breadcrumb">
        <a class="section" href="/">HOME</a>
        <i class="right chevron icon divider"></i>
        <a class="section" href="" id="noteRoute"></a>
        <i class="right chevron icon divider"></i>
        <div class="active section"><a class="section" href="" id="noteRoute2"><%= blog.title %></a></div>
        <i class="right chevron icon divider"></i>
        <div class="active section">Edit</div>
    </div>
</div>

<div class="ui main text container segment">

    <div class="ui huge header">
        Edit <%= blog.title %>
    </div>
    <form action="/notes-catalogue/<%= blog._id %>?_method=put" method="post" class="ui form" id="blogForm">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" value="<%= blog.title %>">
        </div>
        <div class="field">
            <label>Abstract</label>
            <input type="text" name="blog[abstract]" value="<%= blog.abstract %>">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea rows="20" name="blog[body]" id="newBlogBody"><%- blog.body %></textarea>
        </div>

        <div class="field">
            <select class="ui dropdown" name="blog[blogType]" id="blogType">
                <option value="">Type of Blog</option>
                <option value="note">Note</option>
                <option value="gossip">Gossip</option>
            </select>
        </div>
        <div class="ui negative message" id="typeErr" style="display: none">
            <div class="header">
                Select correct type of blog!
            </div>
        </div>

        <!--        <input type="button" name="blog[blogType]">-->
        <input class="ui green basic button" type="submit" value="Submit">
    </form>
    <div class="ui divider"></div>
    <form action="/notes-catalogue/<%= blog._id %>?_method=delete" method="post" class="ui form">
        <button class="fluid ui red basic button">DELETE!!!</button>
    </form>

</div>
<script>
    var blogType = "<%= blog.blogType %>";
    if (blogType == 'note') {
        document.getElementById('noteRoute').setAttribute('href', '/notes-catalogue/');
        document.getElementById('noteRoute').textContent = 'Study Notes';
        document.getElementById('noteRoute2').setAttribute('href', '/notes-catalogue/<%= blog._id %>');
    } else if (blogType == 'gossip') {
        document.getElementById('noteRoute').setAttribute('href', '/gossip-catalogue/');
        document.getElementById('noteRoute').textContent = 'Gossip';
        document.getElementById('noteRoute2').setAttribute('href', '/gossip-catalogue/<%= blog._id %>');
    } else {
        document.getElementById('noteRoute').textContent = '??';
    }
</script>

<%- include('partials/footer') %>
