<%- include('partials/header') %>
<div class="ui main text container">
    <div class="ui breadcrumb">
        <a class="section" href="http://127.0.0.1:3000/">HOME</a>
        <i class="right chevron icon divider"></i>
        <a class="section" href="" id="noteRoute"></a>
        <i class="right chevron icon divider"></i>
        <div class="active section"><%= blog.title %></div>
    </div>
</div>
<div class="ui main text container">
    <div class="ui huge header">
        <%= blog.title %>
    </div>

    <div class="ui stacked segment">
        <div class="ui meta left aligned grid" style="opacity: 0.7">
            <div class="ui middle aligned one wide column centered grid">
                <i class="fas fa-2x fa-angle-right"></i>
            </div>
            <div class="ui middle aligned fifteen wide column">
                <%= blog.abstract %>
            </div>
        </div>
    </div>
    <div class="content">
        <%- blog.body %>
    </div>
    <br>
</div>
<div class="ui text container">
    <div class="extra" style="text-align: right; opacity: 0.5">
        created on <%= blog.created.toDateString() %>
    </div>
</div>

<script>
    var blogType = "<%= blog.blogType %>";
    if (blogType == 'note') {
        document.getElementById('noteRoute').setAttribute('href', 'http://127.0.0.1:3000/notes-catalogue/');
        document.getElementById('noteRoute').textContent = 'Study Notes';
    } else if (blogType == 'gossip') {
        document.getElementById('noteRoute').setAttribute('href', 'http://127.0.0.1:3000/gossip-catalogue/');
        document.getElementById('noteRoute').textContent = 'Gossip';
    } else {
        document.getElementById('noteRoute').textContent = '??';
    }
</script>

<%- include('partials/footer') %>
